body{
	
	margin: -10px;
	padding: -10px;
	font-family: "acumin-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* ****************************** nav bar ************************************* */

.navbar{

	background: #191919;
	height: 60px;
	font-size: 14px;
	overflow: hidden;

}

.navbar-button{

   border: none;
	margin-top: 5px;
}

/* center side of navbar */

 .Navbar-center{

  margin: 0 auto;
}

/* right side of nav bar */

 .Navbar-right{

  float: right;
}

/* after collapsing button */

.navbar-button{

  border-radius: 25px;
  margin-top: 5px;
  height: 29px;
  font-size: 14px;
text-align: center;
background: #0057ff;

}


/* ** Navbar toggler button */

.button-navbar{

    border: none;
	color: white;
	width: 40px;
	font-weight: 370;
}


/* ** Hamburger icon */

.rf-icon--hamburger{

fill: white;
width: 40px;

}

/* facebook link */

.facebook-button{

	width: 35px;
	height: 35px;
	border-radius: 30px;
	text-align: center;
	margin-top: 2px;
	background-color: #2A4A81;
}



.fa-facebook-f{

	position: absolute;
	margin-top: 1px;
	margin-left: -4px;
}


/* Google link */

.google-button{

	width: 35px;
	height: 35px;
	border-radius: 30px;
	text-align: center;
	margin-top: 2px;
	background-color: #fff;
} 

.rf-logo--google{

	position: absolute;
	margin-top: 1px;
	margin-left: -7px;
}


/* Behance logo */

.rf-logo--behance{
	fill: white;

}

/* Adobe icon */

.adobe-icon{
	font-size: 18px;
}

.nav-item:hover{
	color:white;
}

/* Ajusting navbar view */

@media screen and (max-width: 1038px){

	.Navbar-center .active{
		display: none;
	}
}






/* ****************************** PRESENTATION ***************************** */

.presentation{

height: 210px;
background: url("https://a5.behance.net/8a9af7f2f1743dafbc3d4685b42e3124d441e5cd/img/site/1x/cta-header.jpg");

}

.presentation h1{

	color: #fff;
	font-size: 65px;
    font-weight: 900;
    letter-spacing: -0.13rem;
    line-height: 1;
    margin: -32px auto 0;
    font-family: Arial;
    z-index: 1;

  }


/* ajusting title font size */

@media screen and (max-width: 768px){

.presentation .display-4{
	font-size: 40px; 

}
}


@media screen and (max-width: 1000px) and (min-width: 769px){

.presentation .display-4{
	font-size:50px; 
}
}


@media screen and (max-width: 258px){

	.presentation .display-4{
	font-size: 38px; 

}
}


/* ***************************** SECOND NAV BAR **************************** */

.sc{
  overflow-x: auto;
  border-bottom: 1px solid lightgray;
  height: 50px;
  font-family: acumin.woff2;
  margin-top: -20px;
    
 }

.sc ul{
  width: 1100px;
 
  }

.sc li{
	font-size: 14px;
	font-family: acumin.woff2;
	letter-spacing: 1px;
	
}

.sc li .active{
	color:#0057ff;
}

.sc li a{
	color: black;
}
.sc li a:hover{
	color:#0057ff;
}

@media screen and (max-width: 400px){

	.sc ul{
		width: 800px;
	}
}

/* **************************** ALBUM ************************************* */

.card{
	margin-top: 50px;
	height: 320px;
	width: 12em;
	
}

.line{
	margin-top: 5px;
	border-bottom: 1px solid lightgray;
}

.card-body{
	line-height: 30px;
}

.card h5{

	margin-top: -10px;
	font-size: 13px;
}

.card h5 a{
	color: black;
}

.card p{
	font-size: 12px;
	line-height: 5px;
	
}

.card .emoji{
	position: absolute;
	margin-top: -10px;
	font-size: 12px;
	color: gray;
}

/* changing card width at 959px */

@media screen and (max-width: 959px){
	.card{
		width:12em;

          }
}

/* changing card width at 959px */

@media screen and (max-width: 571px){
	.card{
		margin: 0 auto;
		margin-top: 20px;

          }

}

/* *************************** FOOTER **********************/

footer{
	margin-top: 90px;
	background: black;
	color:white;
}

.adobe-footer{
	font-size: 16px;
}

.taille-texte{
	font-size: 12px;
}

.taille-texte:hover{
	color: white;
}

/* ELEMENT FOOTER */

.down-menu{
    
	border-right: 1px solid gray;
}

@media screen and (max-width: 800px){

	footer{
		display: none;
	}
}